@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;    
    min-height: 100vh;
    background: linear-gradient(135deg, #321578, #D53A9D);
    color: #fff;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
  margin-top: 30px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
select {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

input::placeholder {
  color: #ddd;
}

button,
input[type="submit"] {
  background-color: #e84d62;
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
  background-color: #dc4b5ee7;
}
.button-voltar{
    background-color: #e84d62;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}


